@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    /* background */
    background-color: #f5cac3;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    /* background-color: #f28482; */
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 210px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.container form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height:  45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus{
    border-color: #9b59b6;
}

.user-details .input-box input.address{
    /* border: 2px solid black; */
    width: 214%;
    margin: auto;
}

/* SUBMIT BUTTON */
form .button{
    width: 100%;
    /* border: 3px solid black; */
    height: 45px;
    margin: auto;
}

form .button input{
     height: 100%;
     width: 100%;
     outline: none;
     color: #fff;
     border: none;
     border-radius: 5px;
     font-size: 22px;
     font-weight:bold;
     letter-spacing: 1px;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
    cursor: pointer;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}


/* media queries */
@media (max-width: 584px){
    form{
        margin-left: 3px;
        margin-right: 3px;
    }
    .container{
        max-width: 100%;
    }
    .container form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
    .user-details .input-box input.address{
        width: 100%;
    }
}